body {
    background-color: rgb(187, 211, 255);
    font-family: Arial, Helvetica, sans-serif;
   }

.mainContent {
    padding-bottom: 20px;
   }

/* Header "Visit Perth" */

.header {
    display: flex;
    height: 100px;
   }

.VisitHead {
    display: flex;
    justify-content: center;
   }

h1{
    padding-top: 10px;
    font-size: 70px; 
    color: white;
 }

/* Navigeringsbar */

.nav-item{
    margin-left: 10px;
}

.nav-item:hover{
    background-color: rgba(255, 140, 255, 0.116);
}

.nav-item:active{
    text-decoration: underline;
}

.badge{
    margin-left: 5px;
}

/* Dragarbild */

.dragBild {
    width: 100%;
    margin-bottom: 10px;
   }

/* Main Content */

h2{
    color: white;
 }

p {
    background-color: rgba(241, 215, 255, 0.527);
    border-radius: 5px;
    padding: 10px;
   }

.mainContent ul {
    list-style: circle;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 5px;
}

.EventsButton {
    margin-left: 10px;
}

.Events {
    padding-bottom: 5px;
    font-weight: bold;
    text-align: right;
}

.culture{
    padding-top: 10px;
}

.karusell{
    margin-top: 30px;
    margin-bottom: 20px;
}

.karusell h5 {
    background-color: rgba(0, 0, 0, 0.418);
    padding: 5px;
    border-radius: 5px;
}

.weather p:hover{
    background-color: rgba(255, 140, 255, 0.116);
}

.bi {
    margin-left: 5px;
    margin-right: 5px;
}

.gettingAround{
    padding-top: 10px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(198, 188, 255, 0.797);
    text-align: center;
    padding: 5px;
   }

.Symboler {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    .mainContainer {
        padding-bottom: 10px;
       }
}

@media screen and (min-width: 976px){
    .karusell {
        padding-top: 10px;
       }
}

@media screen and (min-width: 976px){
    .culture {
        padding-top: 0px;
    }
}